body {
  background-color: #808080; /* Set the background color to gray */
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
}

/* Score Styles */
#score {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #fff;
}

#game-container {
  position: relative;
  width: 375px;
  height: 667px;
  border: 1px solid black;
  overflow: hidden;
  background: linear-gradient(black, #306);
  animation: scrolling-background 10s linear infinite;
}

/* Rocket Styles */
#rocket {
  width: 40px;
  height: 125px;
  background: linear-gradient(
      to right,
      transparent 45%,
      firebrick 45%,
      firebrick 55%,
      transparent 55%
    ),
    radial-gradient(
      circle at 50% 40%,
      rgba(255, 255, 255, 1) 10%,
      #aaa 11%,
      #aaa 15%,
      transparent 16%
    ),
    linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.1) 50%),
    linear-gradient(to bottom, firebrick 12%, transparent 12%), lightgray;
  background-size: 100% 40%, 100% 100%, 100% 100%, 100% 100%, 100% 100%,
    100% 100%;
  background-position: 50% 95%, 0 0, 0 0, 0 0, 0 0;
  background-repeat: no-repeat;
  border-radius: 50px 50px 50px 50px / 200px 200px 10px 10px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 15px 0 -5px #666;
  filter: drop-shadow(0px -5px 2px rgba(0, 0, 0, 0.15));
}

#rocket:before {
  content: "";
  width: 200%;
  height: 50%;
  position: absolute;
  top: 55%;
  left: -50%;
  background: radial-gradient(
    circle at 50% 100%,
    transparent 50%,
    firebrick 51%
  );
  clip-path: polygon(
    0% 0%,
    25% 0%,
    25% 100%,
    75% 100%,
    75% 0%,
    100% 0%,
    100% 100%,
    0% 100%
  );
  border-radius: 100% 100% 0 0;
}

@keyframes fireAnimation {
  0% {
    background-size: 100% 200%;
  }
  50% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 100% 200%;
  }
}

#rocket:after {
  content: "";
  width: 60%;
  height: 25%;
  position: absolute;
  top: 108%;
  left: 20%;
  background: linear-gradient(to bottom, orangered, gold);
  border-radius: 0 0 25% 25%;
  filter: blur(2px);
  opacity: 0.5;
  animation: fireAnimation 0.2s linear infinite;
}

.shake_rocket {
  animation: shake 0.1s linear infinite;
}

@keyframes shake {
  25% {
    transform: translateX(-1px);
  }
  75% {
    transform: translateX(1px);
  }
}

.asteroid {
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.asteroid:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: darkgray;
  border-radius: 50%;
}

.asteroid:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 20px;
  background-color: darkgray;
  border-radius: 50%;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkling 5s linear infinite;
  opacity: 0;
}

@keyframes scrolling-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes twinkling {
  0% {
    opacity: 0;
    top: -10%;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 110%;
  }
}
